<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.htmlhifive.javascript.parse.object.jsfile"
            nameFilter="*.js"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="%menu.label"
               path="additions"
               id="com.htmlhifive.javascript.parse.object.menu1">
            <separator
                  name="groupJSLintCheck">
            </separator>
         </menu>
         <action
               label="%action.label.clear"
               class="com.htmlhifive.tools.jslint.actions.ClearJavaScriptAction"
               menubarPath="com.htmlhifive.javascript.parse.object.menu1/groupJSLintCheck"
               enablesFor="1"
               id="com.htmlhifive.javascript.parse.newAction1">
         </action>
         <action
               class="com.htmlhifive.tools.jslint.actions.CheckJavaScriptAction"
               enablesFor="1"
               id="com.htmlhifive.javascript.parse.newAction2"
               label="%action.label.check"
               menubarPath="com.htmlhifive.javascript.parse.object.menu1/groupJSLintCheck">
         </action>
      </objectContribution>
      <objectContribution
            id="com.htmlhifive.javascript.parse.object.container"
            objectClass="org.eclipse.core.resources.IContainer">
         <menu
               id="com.htmlhifive.javascript.parse.object.menu1"
               label="%menu.label"
               path="additions">
            <separator
                  name="groupJSLintToggle">
            </separator>
            <separator
                  name="groupJSLintCheck">
            </separator>
         </menu>
         <action
               class="com.htmlhifive.tools.jslint.actions.ClearJavaScriptAction"
               enablesFor="1"
               id="com.htmlhifive.javascript.parse.newAction1"
               label="%action.label.clear"
               menubarPath="com.htmlhifive.javascript.parse.object.menu1/groupJSLintCheck">
         </action>
         <action
               class="com.htmlhifive.tools.jslint.actions.CheckJavaScriptAction"
               enablesFor="1"
               id="com.htmlhifive.javascript.parse.newAction2"
               label="%action.label.check"
               menubarPath="com.htmlhifive.javascript.parse.object.menu1/groupJSLintCheck">
         </action>
      </objectContribution>
      <viewerContribution
            id="com.htmlhifive.javascript.parse.jseditor"
            targetID="#JavaScriptEditorContext">
         <menu
               id="com.htmlhifive.javascript.parse.editor.menu1"
               label="%menu.label"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.htmlhifive.tools.jslint.actions.ClearJavaScriptAction"
               id="com.htmlhifive.javascript.parse.newAction3"
               label="%action.label.clear"
               menubarPath="com.htmlhifive.javascript.parse.editor.menu1/group1">
         </action>
         <action
               class="com.htmlhifive.tools.jslint.actions.CheckJavaScriptAction"
               id="com.htmlhifive.javascript.parse.newAction4"
               label="%action.label.check"
               menubarPath="com.htmlhifive.javascript.parse.editor.menu1/group1">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="com.htmlhifive.javascript.parse.object.JavaProject"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu
               id="com.htmlhifive.javascript.parse.object.menu1"
               label="%menu.label"
               path="additions">
            <separator
                  name="groupJSLintToggle">
            </separator>
            <separator
                  name="groupJSLintCheck">
            </separator>
         </menu>
         <action
               class="com.htmlhifive.tools.jslint.actions.ClearJavaScriptAction"
               enablesFor="1"
               id="com.htmlhifive.javascript.parse.newAction1"
               label="%action.label.clear"
               menubarPath="com.htmlhifive.javascript.parse.object.menu1/groupJSLintCheck">
         </action>
         <action
               class="com.htmlhifive.tools.jslint.actions.CheckJavaScriptAction"
               enablesFor="1"
               id="com.htmlhifive.javascript.parse.newAction2"
               label="%action.label.check"
               menubarPath="com.htmlhifive.javascript.parse.object.menu1/groupJSLintCheck">
         </action>
         <action
               class="com.htmlhifive.tools.jslint.actions.ActiveJSLintAction"
               id="JSLintPlugin.action1"
               label="%action.label.autoCheck"
               menubarPath="com.htmlhifive.javascript.parse.object.menu1/groupJSLintToggle"
               style="toggle">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.htmlhifive.javascript.parse.object.container"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.htmlhifive.tools.jslint.actions.ActiveJSLintAction"
               id="JSLintPlugin.action1"
               label="%action.label.autoCheck"
               menubarPath="com.htmlhifive.javascript.parse.object.menu1/groupJSLintToggle">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="javascriptMarker"
         name="%extension.name"
         point="org.eclipse.core.resources.markers">
      <attribute
            name="com.htmlhifive.javascript.check.jslintAttribute">
      </attribute>
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.htmlhifive.tools.jslint.view.JslintPropertyPage"
            id="com.htmlhifive.tools.jslint.view.Iproject"
            name="%page.name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.htmlhifive.tools.jslint.view.JslintPropertyPage"
            id="com.htmlhifive.tools.jslint.view.IJavaProject"
            name="%page.name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.jdt.core.IJavaProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="JSLintPluginNature"
         name="%extension.name.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.htmlhifive.tools.jslint.JSLintPluginNature">
         </run>
      </runtime>
      <builder
            id="com.htmlhifive.tools.jslint.H5JSLintPlugin.jslintbuilder">
      </builder>
   </extension>
   <extension
         id="jslintbuilder"
         name="%extension.name.builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.htmlhifive.tools.jslint.JSLintPluginBuilder">
         </run>
      </builder>
   </extension>

</plugin>
