<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.htmlhifive.tools.wizard"
            name="%Wizards-Category">
      </category>
      <wizard
            category="com.htmlhifive.tools.wizard"
            class="com.htmlhifive.tools.wizard.ui.ProjectCreationWizard"
            icon="icons/html5logo.png"
            id="com.htmlhifive.tools.wizard.ui.ProjectCreationWizard"
            name="%Wizards-Name">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.htmlhifive.tools.wizard.ui.property.LibraryImportPropertyPage"
            id="com.htmlhifive.tools.wizard.ui.WizardPropertyPage"
            name="%Page-Name">
      </page>
   </extension>
</plugin>
